BR2_mips=y
BR2_mips_32=y
BR2_MIPS_SOFT_FLOAT=y
BR2_TOOLCHAIN_BUILDROOT_MUSL=y
BR2_KERNEL_HEADERS_CUSTOM_TARBALL=y
BR2_KERNEL_HEADERS_CUSTOM_TARBALL_LOCATION="https://cdn.kernel.org/pub/linux/kernel/v2.6/longterm/v2.6.32/linux-2.6.32.71.tar.xz"
BR2_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_REALLY_OLD=y
BR2_GCC_VERSION_12_X=y
BR2_BINUTILS_VERSION_2_42_X=y
BR2_INSTALL_LIBSTDCPP=y
BR2_PACKAGE_HOST_ENVIRONMENT_SETUP=y
BR2_INIT_NONE=y
# BR2_PACKAGE_BUSYBOX is not set
# BR2_TARGET_ROOTFS_TAR is not set
